.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
}

.sidebar-toggle {
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 1000;
}

.saved-debate-card {
    background-color: #F5EDE0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: left; /* Center contents */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.debate-item {
    margin-bottom: 0px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
}

.debate-item:hover {
    background-color: #e0e0e0; /* Add a subtle hover effect */
}

.debate-date {
    font-weight: bold;
    color: #333;
    margin-bottom: 1px;
}

.debate-details {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}


@media (max-width: 768px) {
    .sidebar-toggle {
        top: 60px;
        right: 10px;
    }
}